<module id="Taggart" uid="" guid="b2ae78b8-64ad-4c1f-88d0-0dc4f90896f5" parent="Horizons" priority="10" version="1.0.0" active="true">
	<name>Taggart UI</name>
	<icon />
	<image />
	<watermark />
	<banner />
	<description>Ben "Commander" Taggart rebuilds the UI from the ground up</description>
	<defaultmap />
	<encounters random="true" />
	<credits />
</module>