<hz-layout-container>
    <hz-layout-container style="width: 50%;">
        <hz-layout-group>
            <hz-layout-panel icon="earth">
                <hz-layout-panel-header>Panel 1</hz-layout-panel-header>
                Random panel content. Random panel content. Random panel content. Random panel content. Random panel content. 
            </hz-layout-panel>
            <hz-layout-panel icon="star">
                <hz-layout-panel-header>Panel 2</hz-layout-panel-header>
                Random panel content. Random panel content. Random panel content. Random panel content. 
                Random panel content. Random panel content. 

                Random panel content. Random panel content. Random panel content. 
            </hz-layout-panel>
            <hz-layout-panel icon="comments">
                <hz-layout-panel-header>Panel 3</hz-layout-panel-header>
                Random panel content. Random panel content. Random panel content. 
                Random panel content. 
                Random panel content. Random panel content. Random panel content. Random panel content. Random panel content. 
                Random panel content. 
                Random panel content. 
                Random panel content. Random panel content. Random panel content. 
            </hz-layout-panel>
        </hz-layout-group>
        <hz-layout-group>
            <hz-layout-panel icon="earth">
                <hz-layout-panel-header>Panel 4</hz-layout-panel-header>
                Random panel content. Random panel content. Random panel content. 
                Random panel content. Random panel content. Random panel content. 
                Random panel content. Random panel content. 
                Random panel content. Random panel content. Random panel content. 
            </hz-layout-panel>
            <hz-layout-panel icon="star">
                <hz-layout-panel-header>Panel 5</hz-layout-panel-header>
                Random panel content. 
            </hz-layout-panel>
            <hz-layout-panel icon="comments">
                <hz-layout-panel-header>Panel 6</hz-layout-panel-header>
                Random panel content. Random panel content. 
            </hz-layout-panel>
        </hz-layout-group>
    </hz-layout-container>
    <hz-layout-container style="width: 50%;">
        <hz-layout-group>
            <hz-layout-panel icon="earth">
                <hz-layout-panel-header>Panel 7</hz-layout-panel-header>
                Random panel content. Random panel content. 
            </hz-layout-panel>
            <hz-layout-panel icon="star">
                <hz-layout-panel-header>Panel 8</hz-layout-panel-header>
                Random panel content. Random panel content. Random panel content. Random panel content. Random panel content. 
            </hz-layout-panel>
            <hz-layout-panel icon="comments">
                <hz-layout-panel-header>Panel 9</hz-layout-panel-header>
                Random panel content. 
            </hz-layout-panel>
        </hz-layout-group>
        <hz-layout-group>
            <hz-layout-panel icon="earth">
                <hz-layout-panel-header>Panel 10</hz-layout-panel-header>
                Random panel content. 
            </hz-layout-panel>
            <hz-layout-panel icon="star">
                <hz-layout-panel-header>Panel 11</hz-layout-panel-header>
                Random panel content. Random panel content. 
            </hz-layout-panel>
            <hz-layout-panel icon="comments">
                <hz-layout-panel-header>Panel 12</hz-layout-panel-header>
                Random panel content. Random panel content. Random panel content. 
            </hz-layout-panel>
        </hz-layout-group>
    </hz-layout-container>
</hz-layout-container>