@font-face {
    font-family: HorizonsIcon;
    src: url("./HorizonsIcon.woff2");
}

.hz-icon {
    font-family: HorizonsIcon;
    font-weight: normal;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-rendering: auto;
}

.hz-icon.horizons::after { content: 'H'; }
.hz-icon.send::after { content: 'a'; }
.hz-icon.earth::after { content: 'E'; }
.hz-icon.envelope::after { content: 'e'; }
.hz-icon.bookmark::after { content: 'B'; }
.hz-icon.bookmark-outline::after { content: 'b'; }
.hz-icon.star::after { content: 'S'; }
.hz-icon.star-outline::after { content: 's'; }
.hz-icon.comments::after { content: 'C'; }
.hz-icon.comments-outline::after { content: 'c'; }