.hz-layout-panel-header {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    border-radius: var(--hz-panel-header-border-radius, 6px 6px 0 0);
    border-width: var(--hz-panel-header-border-width, 0 0 1px 0);
    border-color: var(--hz-panel-header-border-color, #156380);
    font-size: var(--hz-panel-header-font-size, 10.5px);
    text-transform: var(--hz-panel-header-text-transform, uppercase);
    color: var(--hz-panel-header-color, #00C8EC);
}