
.hz-layout-group {
    position: relative;
    display: block;
    width: 100%;
    clear: both;
}

.hz-layout-group .hz-layout-group-panel:not(.selected-panel) {
    display: none;
}

.hz-layout-group .hz-layout-group-tab {
    width: var(--hz-tab-icon-width);
    height: var(--hz-tab-icon-height);
    display: inline-block;
}

.hz-layout-group .hz-layout-group-tabs {
    float: left;
}

.hz-layout-group .hz-layout-group-tabs[tab-position="left"], 
.hz-layout-group .hz-layout-group-tabs[tab-position="left-top"] {
    top: 0;
    left: 0;
    width: var(--hz-tab-icon-width);
}

.hz-layout-group .hz-layout-group-tabs[tab-position="left-bottom"] {
    bottom: 0;
    left: 0;
    width: var(--hz-tab-icon-width);
}

.hz-layout-group .hz-layout-group-tabs[tab-position="right"], 
.hz-layout-group .hz-layout-group-tabs[tab-position="right-top"] {
    top: 0;
    right: 0;
    width: var(--hz-tab-icon-width);
}

.hz-layout-group .hz-layout-group-tabs[tab-position="right-bottom"] {
    bottom: 0;
    right: 0;
    width: var(--hz-tab-icon-width);
}

.hz-layout-group .hz-layout-group-tabs[tab-position="top"], 
.hz-layout-group .hz-layout-group-tabs[tab-position="top-left"] {
    top: 0;
    left: 0;
    height: var(--hz-tab-icon-height);
}

.hz-layout-group .hz-layout-group-tabs[tab-position="top-right"] {
    top: 0;
    right: 0;
    height: var(--hz-tab-icon-height);
}

.hz-layout-group .hz-layout-group-tabs[tab-position="bottom"], 
.hz-layout-group .hz-layout-group-tabs[tab-position="bottom-left"] {
    bottom: 0;
    left: 0;
    height: var(--hz-tab-icon-height);
}

.hz-layout-group .hz-layout-group-tabs[tab-position="bottom-right"] {
    bottom: 0;
    right: 0;
    height: var(--hz-tab-icon-height);
}

.hz-layout-group .hz-layout-group-panels[tab-position="left"], 
.hz-layout-group .hz-layout-group-panels[tab-position="left-top"], 
.hz-layout-group .hz-layout-group-panels[tab-position="left-bottom"] {
    margin-left: var(--hz-tab-icon-width);
    width: calc(100% - var(--hz-tab-icon-width));
}

.hz-layout-group .hz-layout-group-panels[tab-position="right"], 
.hz-layout-group .hz-layout-group-panels[tab-position="right-top"], 
.hz-layout-group .hz-layout-group-panels[tab-position="right-bottom"] {
    margin-right: var(--hz-tab-icon-width);
    width: calc(100% - var(--hz-tab-icon-width));
}

.hz-layout-group .hz-layout-group-panels[tab-position="top"], 
.hz-layout-group .hz-layout-group-panels[tab-position="top-left"], 
.hz-layout-group .hz-layout-group-panels[tab-position="top-right"] {
    margin-top: var(--hz-tab-icon-height);
    height: calc(100% - var(--hz-tab-icon-height));
}

.hz-layout-group .hz-layout-group-panels[tab-position="bottom"], 
.hz-layout-group .hz-layout-group-panels[tab-position="bottom-left"], 
.hz-layout-group .hz-layout-group-panels[tab-position="bottom-right"] {
    margin-bottom: var(--hz-tab-icon-height);
    height: calc(100% - var(--hz-tab-icon-height));
}

.hz-layout-group .hz-layout-group-tab {
    background-color: gray;
    color: white;
    padding: calc(var(--hz-tab-icon-height) * 0.125);
    box-sizing: border-box;
    border: 1px solid #333;
    border-radius: 6px 0 0 6px;
}
.hz-layout-group .hz-layout-group-tab.selected {
    color: cyan;
    background-color: #555;
}
.hz-layout-group .hz-layout-group-tab .hz-bits-icon {
    transform: scale(0.75)
}